.search-icon {
    background-image: url('../images/Component\ 9\ –\ 2.svg');
}
.pink {
    background-color: #FF2288 !important;
}
.gopro {
    color: #FF2288;
}
.uploadbtn {
    background-color: #FF2288 !important;
}
.smcolor {
    background-color: #F2F2F2 !important;
}

